html{
 min-width: 100%;
 max-width: 100%;
 overflow-x: hidden;
 box-sizing: border-box;
 
}

body{
 background-color: rgba($mainCream,0.4);
 display: flex;
 flex-direction: column;
 position: relative;
 min-width: 100%;
 min-height: 100%;
 overflow-x: hidden;
 justify-content: space-between; 
 box-sizing: border-box;
}

.display{
 
 display: inline;
 
 &--none{
  
  display: none;
  
 }
 
}

.opacity{
 opacity: 1;
 transition: all .5s ease-in;
 
 &--none{
  
 opacity: 0;
 }
 
}