html{
 min-width: 100%;
 max-width: 100%;
 overflow-x: hidden;
 
}

body{
 background-color: rgba(220,211,180,0.4);
 display: flex;
 flex-direction: column;
 position: absolute;
 min-width: 100%;
 min-height: 100%;
 overflow-x: hidden;
 justify-content: space-between; 
}