.certdetails{
margin-top: 170px;



&__error{
 font-size: 2rem;
 
 &-link{
  width: 30%;
  background-color: $mainNavy;
  color: $mainCream;
  
  
 }
 
}

&__main{
 width: 90vw;
 max-width: 1400px;
 z-index: 4;
 box-shadow: 1px 1px rgba(0,0,0,.4),3px 3px grey;
  
 @mixin atMedium{
width: 70vw;

}

 @mixin atLarge{
width: 90vw;

}
 
 
}

&__main-pic{
 position: relative;
 width: 100%;
 max-width: 450px;
 height: auto;
 transform: translateY(-30%);
 box-shadow: 1px 1px rgba(0,0,0,.4),3px 3px grey;
 
 @mixin atLarge{

  transform: translateY(0%);

}
 
}

&__title{
 color: $mainNavy;
 margin-top: -10%;
 font-weight: 900;
 
 @mixin atMedium{
  font-size: 3.5rem;

 }
 
 
}

&__desc{
max-width: 90%;
font-weight: 500;
font-size: 1.2rem;
 @mixin atMedium{
  font-size: 1.6rem;
 }
 
}

&__info{
 background-color: $mainNavy;
 min-width: 100vw;
 color: $mainCream;
 top: -8rem;
 
 h2{
  padding-top: 10rem;
  font-weight: 700;
  
  @mixin atbootstrapXL{
  font-size: 3.2rem;
 }
 }
 
}

&__button{
 background-color: $successGreen;
 color: #fff;
 max-width: 50%;
 font-size: 1.2rem;
 box-shadow: .5px .5px rgba(0,0,0,.4),1.5px 1.5px grey;
 
 
 
  @mixin atMedium{
  font-size: 1.6rem;
  max-width: 60%;
 }
 
 @mixin atLarge{
  max-width: 35%;
  font-size: 1.3rem;
 left : 20%;
 
 
 }
 
 @mixin atbootstrapXL{
  min-width: 45%;
  font-size: 1.3rem;
 left : 10%;
 
 
 }


 
 svg{
  font-size: 2rem;
  @mixin atMedium{
  font-size: 2.3rem;
 }
  
  
 }
 
}

&__modules{
 max-width: 1400px;
 margin-top: -10%;
 color: $mainNavy;
 
 h3{
 font-size: 2.3rem;
 font-weight: 900;
  
 }
 
}

&__modules-list{
 
 li{
 font-size: 1.5rem;
 font-weight: 500;
 }
}


 


}