.certs{
  margin-top: -15rem;
  background-color: $mainNavy;
  width: 100vw;
  
  h1{
   padding-top: 15rem;
   font-size: 4rem;
  }
  
 &__link{
  
  font-size: 1.5rem;
  color: $mainCream;

 & svg{
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  @mixin atSmall{
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  }

  }
  @mixin atSmall{

    font-size: 2rem;
  }
  
  &:hover{
   
   color: #fff;
  }
 }
 
  
 }