.contentpane{

color: $mainNavy;

&__title{
font-size: 2rem;

@mixin atSmall{
font-size: 3rem;
}

@mixin atMedium{
 font-size: 5rem;
 
}


}

.projects__card{
 width: 70%;
 @mixin atMedium {
  width: 80%;
  height: auto;
 }
  &--cert{
  line-height: 1;
  
 .projects__overlay p {
    font-size: 3rem;
}
 
 @mixin atXXLarge {
  
  .projects__overlay p {
    font-size: 4.3rem;
}
  
 }
 
}
  
 
}
 





}