.contact{
margin-top: 3rem;
color: $mainCream;

&__main{
 background-color: $mainNavy;
 font-weight: 500;
 font-size: 1.2rem;
 
 
 @mixin atLarge{
  max-width: 30vw;
  min-height: 80vw;
  font-size: 1.5rem;
  padding-top: 20%;
 }
 
 @mixin atXXLarge{
  
  padding-top: 15%;
 }
 
 .row{
  
  @mixin atSmall{
  margin-left: -30%;
  
  }
  
  @mixin atLarge{
  margin-left: -5%;
  
  }
  
 }
 
}

h1{
 
 font-weight: 900;
 @mixin atLarge{
   font-size: 4rem;
   
 }
}

&__social{
 
 a{
 font-size: 2rem;
 color: $mainCream;
 
 @mixin atLarge{
   font-size: 3.2rem;
   margin-left : 30%;
 }
 @mixin atXXLarge{
   font-size: 5.2rem;
   margin-left : 50%;
 }
 }
}

&__direct-mail{
 
 color: $mainNavy;
 font-weight: 500;
 font-size: 1.2rem;
 
 @mixin atLarge{
  max-width: 65vw;
  min-height: 80vw;
  font-size: 2rem;
  padding-top: 5%;
 }
 
 
 h2{
  font-weight: 900;
  
  @mixin atLarge{
  
   font-size: 4rem;
 }
  
 }
}

input, textarea{
 box-shadow: 1px 1px rgba($mainNavy,.4),3px 3px grey;
 padding: .5rem 0 .5rem 0;
 text-align: center;
 max-width: 65%;
 font-size: 1rem;
 
 @mixin atLarge{
  font-size: 1.6rem

 }
 
}

button{
 box-shadow: 1px 1px rgba($mainNavy,.4),3px 3px grey;
 min-width: 30%;
 max-width: 60%;
 
 @mixin atLarge{
  min-width: 50%;
  
 }
 
}

&__submit{
 background-color: $successGreen;
 color: #fff;
 font-weight: 500;
 
 
}


}