.feedback-display{
border: $mainCream 2px solid;
border-radius: 25px;
box-shadow: 3px 3px rgba($mainCream,.4), 6px 6px grey;
max-width: 80%;

@mixin atSmall{
max-width: 40%;
}

@mixin atLarge{
 max-width: 40%;
 
}

@mixin atbootstrapXL{
 max-width: 25%;
 
}



&--limited{
left: 50%;
transform: translateX(-50%);
max-width: 80%;
}

&__topic{
 font-size: 1.2rem;
 font-weight: 500;
}

&__feedback{
 font-size: 1.5rem;
 font-weight: 500;
}

&__feedback-label{
 font-size: 1rem;
 font-weight: 300;
}

&__name{
 font-size: 0.8rem;
  font-weight: 300;
}

&__created-on{
 font-size: 0.8rem;
  font-weight: 300;
}

}