.footer{
 background-color: $mainNavy;
 position: relative;


&__main{
 font-size: 2rem;
 min-width: 30vw;
 @mixin atSmall{
   font-size: 1.1rem;
 min-width: 0;
 }
 a{
 color: #fff !important;
 }
}

&__misc{
 font-size: 2rem;
 min-width: 30vw;
 @mixin atSmall{
   font-size: 1.1rem;
 min-width: 0;
 }
 a{
 color: #fff !important;
 }
}

&__social{
 font-size: 4rem;
 
@mixin atMedium{
   max-width: 150px;
  font-size: 3rem;
  
 }
}

&__logo{
 font-size: 2.3rem;
 line-height: .8;
}

&__contact{
 font-size: 1.2rem;
}

}


.nav-svg{
  overflow: visible;
  display: block;
  position: relative;
  font-size: 4rem;
  height: 4rem;
  width: 4rem;

  @mixin atMedium{
    font-size: 3rem;
  height: 3rem;
  width: 3rem;
  }

 } 
 
 