.gallery{
 font-size: 5rem;
 @mixin atLarge{
 font-size: 8rem;
 }

&__main-pic{
 height: auto;
 max-width: 90%;
 transition: all 1s ease-in;
 @mixin atMedium{
 max-width: 80%;
 }
 @mixin atLarge{
  
max-width: 70%;

 }

}
/*! purgecss start ignore */
 .caret{
 display: none;
 
 @mixin atMedium{
 display: inline-block;
 position: relative;
 top: 30%;
 left: 7%;
 color: #f1ede1;
 @mixin atLarge{
   left: 10%;
  }
/*! purgecss end ignore */
 
 &--right{
  left: -7%;
  @mixin atLarge{
   left: -10%;
  }
 }
 
 }
 
 
}

/*! purgecss ignore */
.caret:hover{
 
 color: rgba($mainCream, .7);
}


 
 


&__thumb{
transform: scale(0.8);
box-shadow:2px 2px rgba(0,0,0,.4),5px 5px grey;
transition: all ease-out .5s;

 &--active{
  transform: scale(1);
  box-shadow:3px 3px rgba(0,0,0,.3),7px 7px grey;
  transition: all ease-in .5s;
 }
 
 
}

&__swipe{
 
 font-size: 2.5rem;
 background-color: $mainCream;
 color: $mainNavy;
 line-height: 0;
 border-radius: 10%;
 width: 70%;
 
 svg{
  
  
   font-size: 3.5rem;
 }
}
 


}