.header{
 background-color: rgba(63,82,96,0.9);
 min-height: 80px;
 height: 330px;
 z-index: 5;
 transition: height 1.5s;

 
 @mixin atSmall{
  height: 300px;
 }
/*!purgecss ignore */
&--navclosed{
 height: 80px;
}

&__toggle{
 position: absolute;
 right: 2rem;
 top: 1rem;

}




&__title{
 position: relative;
 background-color: #3f5260;
 font-size: 1rem;

 
 @mixin atXSmall{
  position: absolute;
  background-color: #3f5260;
  font-size: 1rem;
 }
 
 @mixin atSmall{
  font-size: 1.5rem;
 }
 
}

&__navmain{
 font-size: 1rem;
 @mixin atXSmall{
  margin-top: 0;
  margin-left: 35vw;
  font-size: 1.3rem;
  
 }
 @mixin atLarge{
  margin-left: 18vw;
  font-size: 1.3rem;
  line-height: 0;
 }
 
}

&__navlinks{
transition: opacity 1s;
  opacity: 1;
 
 &--closed{
  opacity: 0;
  
 }
 
 @mixin atLarge{
  margin-right: 8vw;
  
 }
@mixin atXLarge{
  margin-right: 12vw;
}
@mixin atXXLarge{
  margin-right: 20vw;
}
 
 a{
  color: #fff !important;
 }
 
}

&__download, &__searchbtn{
 background-color: #0a8927;
}

}

.header-svg{
  overflow: visible;
  display: inline;
  margin-right: 4px;
  position: relative;
  font-size: 1.2rem;
  height: 1.2rem;
  width: 1.2rem;

}