.header{
 background-color: rgba(63,82,96,0.9);
 min-height: 80px;
 z-index: 5;
 

&__toggle{
 position: absolute;
 right: 2rem;
 top: 1rem;

}

&__tran{
 transition: height 35s ease-in;
}


&__title{
 position: relative;
 background-color: #3f5260;
 font-size: 1rem;
 
 @mixin atXSmall{
  position: absolute;
  background-color: #3f5260;
  font-size: 1rem;
 }
 
 @mixin atSmall{
  font-size: 1.5rem;
 }
 
}

&__navmain{
 font-size: 1rem;
 @mixin atXSmall{
  margin-top: 0;
  margin-left: 35vw;
  font-size: 1.3rem;
 }
 @mixin atLarge{
  margin-left: 18vw;
  font-size: 1.3rem;
  line-height: 0;
 }
 
}

&__navlinks{
 @mixin atLarge{
  margin-right: 8vw;
  
 }
@mixin atXLarge{
  margin-right: 12vw;
}
@mixin atXXLarge{
  margin-right: 20vw;
}
 
 a{
  color: #fff !important;
 }
 
}

&__download, &__searchbtn{
 background-color: #0a8927;
}

}