.loader {
  display: block;
  position: absolute;
  top: 20%;
  left: 47%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  color: $mainNavy;
 
 p{
  font-size: 3rem;
  
 }
 
&__animate{
 display: block;
 position: relative;
 left: 85%;
 
}


&__animate span {
  display: block;
  position: absolute;
  bottom: 10px;
  width: 20%;
  height: 40px;
  background: rgba($mainNavy, 0.25);
  -webkit-animation: loader 2s  infinite ease-in-out;
          animation: loader 2s  infinite ease-in-out;
}

&__animate span:nth-child(2) {
  left: 11px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

&__animate span:nth-child(3) {
  left: 22px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

&__animate span:nth-child(4) {
  left: 33px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

&__animate span:nth-child(5) {
  left: 44px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background: rgba($mainNavy, 0.25);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background: $mainNavy;
  }
  50% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    background: rgba($mainNavy, 0.25);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background: rgba($mainNavy, 0.25);
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background: rgba($mainNavy, 0.25);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background: $mainNavy;
  }
  50% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    background: rgba($mainNavy, 0.25);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background: rgba($mainNavy, 0.25);
  }
}
}