.projectdetails{
margin-top: 170px;



&__error{
 font-size: 2rem;
 
 &-link{
  width: 30%;
  background-color: $mainNavy;
  color: $mainCream;
  
  
 }
 
}

&__main{
 width: 90vw;
 z-index: 4;
 box-shadow: 1px 1px rgba(0,0,0,.4),3px 3px grey;
  
 @mixin atMedium{
width: 60vw;

}
 
 
}

&__main-pic{
 position: relative;
 width: 100%;
 max-width: 450px;
 height: auto;
 transform: translateY(-30%);
 box-shadow: 1px 1px rgba(0,0,0,.4),3px 3px grey;
 
}

&__title{
 color: $mainNavy;
 margin-top: -10%;
 font-weight: 900;
 
 
 
}

&__button{
 background-color: $successGreen;
 color: #fff;
 max-width: 50%;
 font-size: 1.2rem;
 box-shadow: .5px .5px rgba(0,0,0,.4),1.5px 1.5px grey;
 
 svg{
  font-size: 2rem;
 }
 
}

&__desc{
max-width: 90%;
font-weight: 500;
font-size: 1.2rem;
 
 
}

&__tools{
 background-color: $mainNavy;
 min-width: 100vw;
 color: $mainCream;
 top: -8rem;
 
 h2{
  padding-top: 10rem;
  font-weight: 700;
 }
 
}

&__list{
 font-size: 2rem;
 
}

&__foreword{
 color: $mainNavy;
 
 h3{
  font-size: 2rem;
  font-weight: 700;
 }
 p{
  width: 80%;
  font-size: 1.2rem;
   font-weight: 500;
 }
 
}

}