.header{
 background-color: rgba(63,82,96,0.9);
 min-height: 80px;
 z-index: 5;
}

.header__toggle{
 position: absolute;
 right: 2rem;
 top: 1rem;

}

.header__title{
 position: relative;
 background-color: #3f5260;
 font-size: 1rem;
 
}

.header__navmain{
 font-size: 1rem;
}

body{
 background-color: rgba(220,211,180,0.4);
 display: flex;
 flex-direction: column;
 position: absolute;
 min-width: 100%;
 min-height: 100%;
 justify-content: space-between;
}



.bio{
 margin-top: 160px;
 box-shadow: 1px 1px rgba(0,0,0,.4),3px 3px grey;
}

.bio__pic{
transform: translateY(-50%) translateX(-10%);
box-shadow: .5px .5px rgba(0,0,0,.4),1px 1px grey;
border-radius: 50%;
}

.bio__header{
 color: #3f5260;
 margin-top: -7rem;
 font-size: 4rem;

}

.bio__info--second-line{
 margin-left: 10rem;
}

.footer{
 background-color: #3f5260;
 position: relative;
}

.footer__main{
 font-size: 2rem;
 min-width: 30vw;
}

.footer__misc{
 font-size: 2rem;
 min-width: 30vw;
}

.footer__social{
 font-size: 4rem;
}

.footer__logo{
 font-size: 2.3rem;
 line-height: .8;
}

.footer__contact{
 font-size: 1.2rem;
}

@media (min-width: 390px){

.header__title{
 position: absolute;
 background-color: #3f5260;
 font-size: 1rem;
}

.header__navmain{
 margin-top: 0;
 margin-left: 35vw;
 font-size: 1.3rem;
}

}

@media (min-width: 568px) { 
.header__title{
 font-size: 1.5rem;
}

.footer__main{
 font-size: 1.1rem;
 min-width: 0;
}

.footer__misc{
 font-size: 1.1rem;
 min-width: 0;
}

 

 }



@media (min-width: 768px) { 

.bio{
 margin-top: 260px;
}

.bio__pic{
transform: translateY(-30%) translateX(0%);
box-shadow: 3px 3px rgba(0,0,0,.4),6px 6px grey;
border-radius: 0;
}

 .footer__social{
   max-width: 150px;
   .footer__social{
 font-size: 3rem;
}
  }

 }
 
 @media (min-width: 992px){
 
 .header__navmain{
 margin-left: 18vw;
 font-size: 1.3rem;
 line-height: 0;
}
 
 .header__navlinks{
 margin-right: 8vw;
}

.header__dropdown{
 line-height: 1;
}

 
 }
 
 @media (min-width: 1350px){

.header__navlinks{
 margin-right: 12vw;
}

}
 
@media (min-width: 1550px){

.header__navlinks{
 margin-right: 20vw;
}

}
